@import 'base/variables';

// Main holds top level styles
@import 'components/main';

// Game Panel (i.e. CENTER panel)
@import 'components/game-panel/game-panel';

// Menu Panel (i.e. TOP panel)
@import 'components/menu-panel/menu-panel';

// Properties Panel (i.e. RIGHT panel)
@import 'components/properties-panel/properties-panel';

// Objects Panel (i.e. LEFT panel)
@import 'components/primatives-panel/primatives-panel';
@import 'components/primatives-panel/primatives-panel-list';

// Interaction Panel (where we set collisions, etc)
@import 'components/interaction-panel/interaction-panel';

@import url('https://fonts.googleapis.com/css?family=Bahiana|Barrio|Caveat+Brush|Josefin+Sans');

body {
    // font-family: $main-font;
    // font-family: 'Barrio', cursive;
    // font-family: 'Bahiana', cursive;
    font-family: $main-font; //'Caveat Brush', cursive;
    // font-family: 'Josefin Sans', sans-serif;
    background: $page-background-color;
    color: $font-color;
    padding: 0;
    margin: 0;
}

button {
    font-family: $main-font;
    outline: none;
}

a {
    color: $link-color;
    text-decoration: none;
    padding: 1rem;
}

button {
    cursor: pointer;
}
