@import 'base/variables';

@import 'components/main';
@import 'components/text-editor';
@import 'components/game-panel';
@import 'components/objects-panel';
@import 'components/menu-bar';
@import 'components/properties-panel';
@import 'components/accordian-pane';

body {
    font-family: $main-font;
    background: $page-background-color;
    padding: 0;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    padding: 1rem;
}

button {
    cursor: pointer;
}
