$main-font: 'Caveat Brush', cursive;
$font-color: #4A4A4A;
$page-background-color: white;
$panel-color: #ECFFD6;
$panel-color-alternate: #d6fd9b;
$panel-color-inactive: lightgray;
$list-item-active-color: green;
$list-item-hover-color: lightgray;

$pheadra-red: #FF6138;
$pheadra-yellow: #FFFF9D;
$pheadra-light-green: #BEEB9F;
$pheadra-green: #79BD8F;
$pheadra-blue: #00A388;

$link-color: blue;

$sandy-green: #002F2F;
$sandy-blue: #046380;
$sandy-white: #EFECCA;
$sandy-brown: #A7A37E;
$sandy-yellow: #E6E2AF;

