$main-font: sans-serif;
$page-background-color: white;

$pheadra-red: #FF6138;
$pheadra-yellow: #FFFF9D;
$pheadra-light-green: #BEEB9F;
$pheadra-green: #79BD8F;
$pheadra-blue: #00A388;

$link-color: $pheadra-light-green;

$sandy-green: #002F2F;
$sandy-blue: #046380;
$sandy-white: #EFECCA;
$sandy-brown: #A7A37E;
$sandy-yellow: #E6E2AF;

