.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.top {
    flex: 1 1 auto;
    // min-height: 60px;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    position: relative;
}

.panel {
    // box-sizing: border-box;
    background-color: $panel-color;
    border: $panel-border-color;
}

.inactive {
    // background-color: $panel-color-inactive;
    pointer-events: none;
    opacity: 0.5;
}

