.menu-bar {
    // height: 50px;
    // width: 100vw;
    // margin: 0;
    // padding: 0;
    background-color: $sandy-white;
    display: flex;
    justify-content: flex-end;

    h1, h2, p {
        padding: 1rem;
        margin: 0;
    }

    .menu-bar-button {
        background-color: transparent;
        border: none;
    }
}
