@import '../selected-object-pane/selected-object-pane';
@import '../objects-list/objects-list';

.properties-panel {
    flex: 1 0 15%;
    width: 150px;
    // overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
