.interaction-panel {
    position: fixed;
    top: 150px;
    right: 200px;
    width: 600px;
    background-color: orange;

    flex-direction: column;

    &.visible {
        display: flex;
    }
    &.hidden {
        display: none;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .new {
        display: flex;
        align-items: center;
    }

    .inputs {
        display: flex;
        align-items: center;
    }
}

